@import "../global/_mixin.scss";

$btnBgColor: rgb(219, 219, 219);
$btnBgClrBlue: #133475;

.login {
  @include flex(center, center, column);
  @include backgroundImg();
  min-height: 100vh;

  .loginBox {
    @include flex(center, center, column);
    padding: 40px 60px;
    background-color: white;

    form {
      @include flex(center, center, column);

      div {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
      }

      input {
        border-bottom: 2px solid rgba(0, 0, 0, 0.378);
        outline: none;
        padding: 5px 0 5px 30px;
        min-width: 290px;
      }

      button {
        background-color: #133475;
        color: white;
        border-radius: 5px;
        width: 100%;
        margin: 10px 0 20px 0;
        padding: 5px;
      }
    }
  }
}
