@import "../global/_mixin.scss";

$btnBgColor: rgb(219, 219, 219);
$btnBgClrBlue: #133475;

.login {
  @include flex(center, center, column);
  @include backgroundImg();
  min-height: 100vh;

  .loginBox {
    @include flex(center, center, column);
    padding: 40px 30px;
    background-color: white;

    .divider {
      span {
        padding: 0 10px;
        font-weight: bold;
      }
    }

    button {
      width: 350px;
      padding: 15px 0;
      margin: 10px 0;
      border: none;
      background-color: $btnBgColor;
      border-radius: 5px;
      position: relative;
    }

    #blueButton {
      border: 2px solid #133475;
      background-color: #133475;
      color: white;
      transition: 0.2s all ease-in-out;
    }

    #blueButton:hover {
      border: 2px solid #133475;
      background-color: white;
      color: #133475;
    }

    .outlineButton {
      border: 2px solid #133475;
      background-color: white;
      color: #133475;
      transition: 0.2s all ease-in-out;
    }

    .outlineButton:hover {
      background-color: #133475;
      color: white;
    }

    .buttonIcon {
      font-size: 25px;
      position: absolute;
      left: 20px;
    }

    .termsOfService {
      margin-top: 40px;

      p {
        max-width: 400px;
        text-align: center;
        font-size: small;

        span {
          text-decoration: underline;
          color: rgb(116, 116, 116);
        }
      }
    }
  }
}
