.apartment-head {
  .image {
    width: 50px;
    height: 50px;
  }
}

.horizontal-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  max-width: 700px; /* Adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
  }
  
  .card-content {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 30px;

    .card-title {
      margin: 0;
      font-size: 1.2rem;
    }
    
    .card-body {
      margin: 0;

      .card-elements {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 0;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}